<h2> Conteggio likes {{ likes}}</h2>
<h1 class="text-center">Albums</h1>
<div class="container d-flex flex-wrap">
  <div *ngFor="let album of albums" class="card" style="width: 18rem;">
    <img src="{{album.thumbnailUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{album.id}}</h5>
      <p class="card-text">{{album.title}}</p>
      <a  class="btn btn-danger" (click)="deleteCard(album.id)" >Elimina</a>
      <a  class="btn btn-primary" (click)="countLike()">Mi piace</a>
    </div>
  </div>
</div>
